streamlit
langchain
langchain-community
langchain-core
langchain-chroma
pypdf
python-dotenv
# --- Cloud Tools ---
langchain-groq
langchain-huggingface
pysqlite3-binary
# --- Local Tools ---
langchain-ollama